<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @syllabus.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @syllabus.year %>
</p>

<p>
  <strong>Term:</strong>
  <%= @syllabus.term %>
</p>

<p>
  <strong>Day:</strong>
  <%= @syllabus.day %>
</p>

<p>
  <strong>Time:</strong>
  <%= @syllabus.time %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @syllabus.faculty %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @syllabus.teacher %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @syllabus.grade %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @syllabus.degree %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @syllabus.condition %>
</p>

<p>
  <strong>Lang:</strong>
  <%= @syllabus.lang %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @syllabus.overview %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @syllabus.purpose %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @syllabus.goal %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @syllabus.contents %>
</p>

<p>
  <strong>Outofclass content:</strong>
  <%= @syllabus.outofclass_content %>
</p>

<p>
  <strong>Outofclass tile:</strong>
  <%= @syllabus.outofclass_tile %>
</p>

<p>
  <strong>Evaluation:</strong>
  <%= @syllabus.evaluation %>
</p>

<p>
  <strong>Evaluation note:</strong>
  <%= @syllabus.evaluation_note %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @syllabus.feedback %>
</p>

<p>
  <strong>Feedback note:</strong>
  <%= @syllabus.feedback_note %>
</p>

<p>
  <strong>Activelearning content:</strong>
  <%= @syllabus.activelearning_content %>
</p>

<p>
  <strong>Activelearning howto:</strong>
  <%= @syllabus.activelearning_howto %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @syllabus.experience %>
</p>

<p>
  <strong>Experience contents:</strong>
  <%= @syllabus.experience_contents %>
</p>

<p>
  <strong>Experience reduction:</strong>
  <%= @syllabus.experience_reduction %>
</p>

<p>
  <strong>Textbook:</strong>
  <%= @syllabus.textbook %>
</p>

<p>
  <strong>Note:</strong>
  <%= @syllabus.note %>
</p>

<p>
  <strong>Url:</strong>
  <%= @syllabus.url %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @syllabus.comment %>
</p>

<%= link_to 'Edit', edit_syllabus_path(@syllabus) %> |
<%= link_to 'Back', syllabuses_path %>
