<!DOCTYPE html>
<html>
  <head>
    <title>Lms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+JP:wght@300;400;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Shippori+Mincho+B1:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand" style="height:4em">
        <a class="navbar-item" href="/">
          <img src="/assets/cplus-logo.png" alt="CPlus 中央大学ポータル">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>

          <a class="navbar-item">
            マニュアル
          </a>

          <a class="navbar-item">
            問い合わせる
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              教務システム
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                履修申請・履修届
              </a>
              <a class="navbar-item">
                個人情報の設定
              </a>
              <a class="navbar-item">
                メール・通知の設定
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Manaba</strong>
              </a>
              <a class="button is-warning">
                <strong>認証の設定</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
    <div class="footer container is-fluid">
      <p>(c)2021- Texture, All Rights Reserved</p>
    </div>
  </body>
</html>
